<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addNew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(operators) = "{ item }">
              <button @click="editProduct(item)">แก้ไข</button>
              <button class="ml-1" variant="primary" @click="deleteProduct(item)">ลบ</button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editProduct (item) {

    },
    deleteProduct (item) {

    },
    addNew (item) {

    }
  },
  data () {
    return {
      fields: [
        { key: 'productId', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }],
      productItems: [
        { productId: 1, name: 'IPad gen1 64G wifi', price: 11000.00 },
        { productId: 2, name: 'IPad gen2 64G wifi', price: 12000.00 },
        { productId: 3, name: 'IPad gen3 64G wifi', price: 13000.00 },
        { productId: 4, name: 'IPad gen4 64G wifi', price: 14000.00 },
        { productId: 5, name: 'IPad gen5 64G wifi', price: 15000.00 },
        { productId: 6, name: 'IPad gen6 64G wifi', price: 16000.00 },
        { productId: 7, name: 'IPad gen7 64G wifi', price: 17000.00 },
        { productId: 8, name: 'IPad gen8 64G wifi', price: 18000.00 },
        { productId: 9, name: 'IPad gen9 64G wifi', price: 19000.00 },
        { productId: 10, name: 'IPad gen10 64G wifi', price: 20000.00 }
      ]
    }
  }
}
</script>
<style>

</style>
