<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price) = "{ item }">฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</template>
            <template #cell(operators) = "{ item }">
              <button @click="editProduct(item)">แก้ไข</button>
              <button class="ml-1" variant="primary" @click="deleteProduct(item)">ลบ</button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast(title,message,append = false){
      this.toastCount++
      this.$bvToast.toast(message,{
        title: title,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('submit', product)
      if (product.id < 0) {
        axios.post('http://localhost:3000/products/', product).then(
          function(response){
            const newProduct = response.data
            this.getProducts()
            this.makeToast('เพิ่มสำเร็จ','สินค้า'+ newProduct.id + 'ถูกเพิ่มแล้ว')
          }
        )
      } else {
        axios.put('http://localhost:3000/products/', product).then(
          function(response){
            const updateProduct = response.data
            this.getProducts()
            this.makeToast('ปรับปรุงสำเร็จ','สินค้า'+updateProduct.id + 'ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(()=>{
           this.makeToast('ปรับปรุงไม่สำเร็จ','ไม่สามารถปรับปรุง'+ product.id)
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      console.log(product)
      if (confirm(`คุณต้องการจะลบสินค้า ${product.id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/'+product.id).then(
          function(response){
            this.getProducts()
            this.makeToast('ลบสำเร็จ','สินค้า'+product.id + 'ถูกลบแล้ว')
          }
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ','ไม่สามารถลบ'+product.id)
        })
      }
    },
    getProducts () {
    axios.get('http://localhost:3000/products').then(function (response) {
    console.log(response)
    this.productItems = response.data
  }.bind(this))
  },
  data () {
    return {
      fields: [
        { key: 'id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }],
      productItems: [
      ],
      selectedItem: null
    }
  },
  mounted(){
    this.getProducts()
  }
}
}
</script>
<style>

</style>
